@import url("reset.css");

body{
    font-family: Arial, Helvetica, sans-serif;
    /* position: relative; */
    font-size: 20px;
}

.btnBack{

    position: fixed;
    top: 140px;
    left: 150px;

    background-color: #fff;
    height: 50px;
    width: 120px;
    /* margin-top: 40px; */
    /* margin-left: 50px; */
    border-radius: 35px;

    text-decoration: none;
    color: #000;
    font-size: 20px;
    margin: 0 10px;
    line-height: 50px;
    text-align: center;
    float: left;

    display: block;
    box-shadow: 0 0 7px rgba(128, 128, 128, 0.52);

    transition: .2s;
}

.btnBack:hover{
    color: white;
    background-color: rgb(57, 71, 154);
    box-shadow: 0 0 5px gray;

    transform: scale(1.1);

}

h1{
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    margin: 10px 0 40px 10px;
    letter-spacing: 5px;
    margin-top: 50px;

}

.container{
    width: 750px;
    margin: 0 auto;

}

.container ul{}

.container ul div{}

.container .cart{
    border-radius: 10px;
    background-color: rgb(238, 238, 238);
    margin-bottom: 30px;
    /* padding: 30px; */
    overflow: hidden;
    position: relative;

}

.container .cart h2{
    border-bottom: 1px solid white;
    padding: 20px;
}

.container .cart h3{
    margin: 20px 0 10px;

}

.container .cart img{
    height: 80px;
    width: 80px;
    margin: 20px;

    float: left;
}

.container .cart .price{
    position: absolute;
    bottom: 20px;
    right: 40px;

    display: flex;
    flex-direction: column;
}

.container .price .amount{
    display: flex;
    align-items: center;
    margin-bottom: 5px;

}

.container .price .total{
    display: flex;
    align-items: center;
}

.container .price p{
    margin-right: 50px;
    font-size: 18px;

}

.container .price span{
    border-top: 1px solid rgb(117, 117, 117);
    border-bottom: 1px solid rgb(117, 117, 117);
    padding: 1.5px 15px;
}

.container .price button{
    background: none;
    border: 1px solid rgb(117, 117, 117);
    border-radius: 0;
    cursor: pointer;
    font-size: 16px;
    /* margin: 10px; */
}

.container .c1{}

.container .c2{}

.container .c3{}

.checkout{
    width: 130px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 100px;
    text-align: center;
    font-size: 20px;

    position: fixed;
    bottom: -30px;
    right: 210px;

    color: white;
    background-color: rgb(57, 71, 154);
    border-radius: 10px;
    text-align: center;

    border: 0;
    transition: .2s;
}

.checkout:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 5px rgba(78, 78, 78, 0.603);
}
