body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgb(57, 71, 154);
    height: 500px;

    position: relative;
}

.head-bar{
    margin-right: 50px;
    width: 100%;
    height: 50px;
    background-color: #ffffffa3;
    box-shadow: 0 10px 10px rgba(68, 68, 68, 0.164);

    text-align: right;

    transition: .5s;

    float: left;
    position: relative;
    z-index: 100;

    
}

.head-bar li {
    float: right;
    margin-right: 20px;
    line-height: 50px;
    height: 100%;
}

.head-bar li:first-child{
    margin-right: 100px;
}

.head-bar li a{
    text-decoration: none;
    color: black;
    font-size: 16px;

}

.head-bar li a:hover{
    color: rgb(57, 71, 154);
    font-weight: bold;
}
.carousel{
    box-sizing: border-box;
    width: 100%;
    height: 500px;
    
    position: absolute;
    top: 0;
    left: 0;
}
.carousel-item img{
    height: 500px;
    width: 100%;
    object-fit: cover;

}

.carousel-control-prev-icon, .carousel-control-next-icon {
  /* 調整大小 */
    width: 4rem;
    height: 4rem;
  
}

.products-section{
    margin: 0 auto;
    margin-top: 30px;
    width: 900px;

}

.farmers{
    display: flex;
    width: 100%;
    justify-content: space-between;

    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(130, 130, 130);
}

.farmers h1{
    font-size: 20px;
}

.farmers img{
    height: 200px;
    width: 200px;
    object-fit: cover;

    border-radius: 500px;
}

.farmers div{
    /* border: 1px solid black; */
    width: 600px;
    line-height: 1.4;
    text-align: left;
}

.farmers div a{
    float: right;
    margin-top: 80px;
    margin-right: 40px;

    display: block;
    width: 80px;
    height: 30px;
    text-decoration: none;
    font-size: 12px;
    line-height: 30px;
    background-color: rgb(57, 71, 154);
    color: white;
    text-align: center;
    cursor: pointer;

    border: 0;
    border-radius: 10px;
}

footer{
    margin-top: 50px;
    height: 300px;
    background-color: rgb(57, 71, 154);
}