@import url('reset.css');

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgb(57, 71, 154);
    height: 500px;

    position: relative;
} 

.carousel{
    box-sizing: border-box;
    width: 100%;
    height: 500px;
    
    position: absolute;
    top: 0;
    left: 0;
}
.carousel-item img{
    height: 500px;
    width: 100%;
    object-fit: cover;

}

.carousel-control-prev-icon, .carousel-control-next-icon {
  /* 調整大小 */
    width: 4rem;
    height: 4rem;
  
}

.products-section{
    margin: 0 auto;
    margin-top: 30px;
    width: 900px;

}

.farmers{
    display: flex;
    width: 100%;
    justify-content: space-between;

    margin-bottom: 30px;
    padding: 30px 0;

    background-color: #eeeeeec4;
    border-radius: 20px;
}

.farmers h1{
    font-size: 20px;
}

.farmers .location{
    font-size: 14px;
    color: gray;
    margin-top: 5px;
    margin-bottom: 15px;
}

.farmers img{
    height: 200px;
    width: 200px;
    object-fit: cover;

    border-radius: 500px;
    margin-left: 40px;
}

.farmers div{
    /* border: 1px solid black; */
    width: 580px;
    line-height: 1.4;
    text-align: left;
}

.farmers .labels ul{
    margin-top: 20px;
    box-sizing: border-box;
    overflow: hidden;
    padding-left: 0;
}

.farmers .labels li{
    float: left;
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 10px;
}

.farmers .jinTea{
    background-color: rgb(240, 218, 52);
}

.farmers .blackTea{
    background-color: rgb(210, 106, 106);
}

.farmers .greenTea{
    background-color: rgb(89, 181, 89);
}

.farmers .baoTea{
    background-color: rgb(101, 148, 228);
}

.farmers div .btn{
    float: right;
    margin-right: 10px;

    display: block;
    width: 80px;
    height: 30px;
    text-decoration: none;
    font-size: 12px;
    /* line-height: 30px; */
    background-color: rgb(57, 71, 154);
    color: white;
    text-align: center;
    cursor: pointer;

    border: 0;
    border-radius: 10px;
}

.farmers div .buy{
    margin-right: 40px;
}


footer{
    margin-top: 50px;
    height: 300px;
    background-color: rgb(57, 71, 154);
}