@import url("reset.css");

body{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.btnBack{

    position: absolute;
    top: 30px;
    left: 100px;

    background-color: #fff;
    height: 50px;
    width: 120px;
    /* margin-top: 40px; */
    /* margin-left: 50px; */
    border-radius: 35px;

    text-decoration: none;
    color: #000;
    font-size: 20px;
    margin: 0 10px;
    line-height: 50px;
    text-align: center;
    float: left;

    display: block;
    box-shadow: 0 0 7px rgba(128, 128, 128, 0.52);

    transition: .2s;
}


.btnBack:hover{
    color: white;
    background-color: rgb(57, 71, 154);
    box-shadow: 0 0 5px gray;

    transform: scale(1.1);

}

.cart_options{
    position: fixed;
    bottom: 50px;    
    right: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 130px;
}

.cart_options a, .cart_options button{
    text-decoration: none;
    color: white;
    background-color: rgb(57, 71, 154);
    border-radius: 20px;
    width: 130px;
    height: 50px;
    line-height: 50px;
    text-align: center;

    border: 0;
    font-size: 16px;
    transition: .2s;
}

.cart_options button{
    background-color: rgb(237, 138, 62);
    line-height: 0;
}

.cart_options button:hover, .cart_options a:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 5px rgba(78, 78, 78, 0.603);
}

.information{
    width: 900px;
    margin: 0 auto;
    margin-top: 50px;
    /* border: 2px solid rgba(169, 169, 169, 0.74); */
    border-radius: 20px;
    padding: 30px;
    padding-top: 20px;
    box-shadow: 0 10px 10px rgba(68, 68, 68, 0.164);

    background-color: rgb(241, 241, 241);
}

.top-bar{
    display: flex;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(130, 130, 130);
    
}

.top-bar img{
    height: 70px;
    width: 70px;
    border-radius: 50px;
    object-fit: cover;
}

.top-bar .name_location{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;

}
.top-bar h1{
    line-height: 1.3;
    font-size: 24px;
}

.name_location .name{
    font-size: 30px;
}

.name_location .location a{
    font-size: 18px;
    color: gray;
    text-decoration: none;

}

.name_location .location a:hover{
    text-decoration: underline;
}

.process{

}

.process .interactiveArea{
    display: flex;
    justify-content: center;

    margin: 0 auto;
    padding: 10px;
    width: 577px;
    justify-content: space-between;
    margin-bottom: 30px;

    background-color: #e1e1e1;
    box-shadow: 0 0 7px rgba(128, 128, 128, 0.52);

    border-radius: 500px;
}

.process .interactiveArea .steps{
    line-height: 40px;

    display: block;
    height: 80px;
    width: 80px;
    line-height: 80px;
    background-color: rgba(88, 191, 112, 0.576);
    box-shadow: 0 0 7px rgba(128, 128, 128, 0.52);
    color: rgb(233, 233, 233);
    border-radius: 100px;

    text-align: center;
    transition: .2s;

}

.process .interactiveArea .steps:hover{
    cursor: pointer;
    background-color: rgb(88, 191, 112);
    color: white;
    box-shadow: 0 0 5px gray;

    transform: scale(1.1);
}

.process .interactiveArea .active{
    background-color: rgb(88, 191, 112);
    color: white;
}


.process .interactiveArea i{}

.process p {
    font-size: 18px;
    font-weight: bold;
}

.process img{
    display: block;
    margin: 0 auto;
    height: 300px;
    border-radius: 30px;
    margin-bottom: 30px;

}


.text{
    width: 700px;
    padding: 20px;
    background-color: rgb(88, 191, 112);
    color: white;
    margin: 0 auto;
    border-radius: 30px;
    text-align: center;
    line-height: 1.5;
    font-size: 19px;
}

footer{
    height: 1000px;
}